
# Copy this to .env and fill in your values

DATABASE_URL="sqlserver://localhost;database=ArtiGate;trustServerCertificate=true;integratedSecurity=true"
JWT_SECRET="bfa92adbdfe516ef4dd8914ba84087aa"
JWT_EXPIRES_IN="1d"
CORS_ORIGIN="http://localhost:3001"
PORT=3000
