@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-gray-200;
  }

  body {
    @apply bg-gray-50 text-gray-900;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}

button,
input,
select,
textarea {
  @apply transition-all duration-200;
}

html {
  zoom: 0.9;
}

/* Fallback for Firefox */
@-moz-document url-prefix() {
  html {
    transform: scale(0.9);
    transform-origin: 0 0;
  }
}